pre.prettyprint {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 8px;
}

div.page-header {
	background: url(creecha.png) no-repeat top right;
}

span.post-date {
	color: #999;
	font-size: 11px;
}

a.permalink {
	&:link,
	&:visited {
		color: #ccc;
	}
	&:hover {
		color: #333;
		text-decoration: none;
	}
}

