body { font-family: Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-family: 'Quattrocento Sans', sans-serif; font-weight: normal; }

pre.prettyprint { background-color: #F7F7F9; border: 1px solid #E1E1E8; padding: 8px; }

div.masthead div.container { background: url(creecha.png) no-repeat top right; }

span.post-date { color: #999; font-size: 12px; }

a:link { color: #2bd72e; }
a:visited { color: #9ed040; }
a:hover { color: #103a10; }
a.permalink:link, a.permalink:visited { color: #ccc; }
a.permalink:hover { color: #333; text-decoration: none; }

p, li { max-width: 30em; }
