/* line 1, ../styles.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* line 7, ../styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: normal;
}

/* line 12, ../styles.scss */
pre.prettyprint {
  background-color: #F7F7F9;
  border: 1px solid #e1e1e8;
  padding: 8px;
}

/* line 18, ../styles.scss */
div.masthead div.container {
  background: url(/assets/images/creecha.png) no-repeat top right;
}

/* line 22, ../styles.scss */
span.post-date {
  color: #999;
  font-size: 12px;
}

/* line 28, ../styles.scss */
a:link {
  color: #2bd72e;
}
/* line 31, ../styles.scss */
a:visited {
  color: #9ed040;
}
/* line 34, ../styles.scss */
a:hover {
  color: #103a10;
}
/* line 39, ../styles.scss */
a.permalink:link, a.permalink:visited {
  color: #ccc;
}
/* line 42, ../styles.scss */
a.permalink:hover {
  color: #333;
  text-decoration: none;
}

/* line 50, ../styles.scss */
p,
li {
  max-width: 30em;
}
