<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-responsive.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Esteban" type="text/css">
	<link rel="stylesheet" href="/lib/google-code-prettify/prettify.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/assets/styles.css" type="text/css" charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/lib/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" charset="utf-8" src="/assets/scripts.js"></script>
	<link href="atom.xml" title="Sitewide ATOM Feed" type="application/atom+xml" rel="alternate">
</head>
<body>
	<div class="masthead">
		<div class="container">
			<h1><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
			{% if site.tagline %}<p>{{ site.tagline }}</p>{% endif %}
		    
		    <ul class="nav nav-pills">
				{% for link in site.navigation %}
					{% if page.section == link.section %}
						<li class="active">
					{% else %}
						<li>
					{% endif %}
						<a href="{{ link.url }}">{{ link.text }}</a>
					</li>
				{% endfor %}
		    </ul>

		</div>
	</div>
	<div class="container">
		{{ content }}
		<hr>
	</div>
</body>
</html>