<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Esteban" type="text/css">
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/lib/google-code-prettify/prettify.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/assets/styles.css" type="text/css" charset="utf-8">
	<script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/lib/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" charset="utf-8" src="/assets/scripts.js"></script>
	<link href="atom.xml" title="Sitewide ATOM Feed" type="application/atom+xml" rel="alternate">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1><a href="/">BlakeButcher<small>.com</small></a></h1>
			<p>{{ site.tagline }}</p>
		</div>
		{{ content }}
		<hr>
	</div>
</body>
</html>